a:link
		{
			color: #FFFFFF;
			text-decoration: none;
		}
		a:visited 
		{
		  	color: #FFFFFF;
		  	text-decoration: none;
		}
		.color
		{
			color: #A52A2A 
		}
		.h2
		{
			font-family: Arial, Helvetica, sans-serif;
			text-align: left;
		}
		.padding
		{
			padding-left: 100%
		}
		.header 
		{
			position: fixed;
			top: 0;
			background-color:#ee6e73;
			color: white;
			padding: 0.2%;
		}
		.shadow
		{
			text-shadow: 0 0 8px #e60000;
		}

        .copyright
		{
			font-family: Arial, Helvetica, sans-serif;
			text-align: center;
		}
		.body
		{
			margin: 0px;
			justify-content: space-around;
		}
		.footer
		{
			position: fixed;
			bottom: 0px;
			width: 100%;
			background-color:#ee6e73;
			color: white; 
			padding:0px;
		}