label
{
  display: inline-block;
  width: 20%;
  padding: 1%; 
}
hr
{
  border: 0.01px solid;
}
.error
{
color: red;
}
.text
{
text-align: center;
}
.legend
{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
p
{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}